<section class="page" id="about">
    <div class="inner-content">
        <h2 class="catch outside">Swap, Bootstrap & Provide Liquidity</h2>

        <div class="box-content">
            <h3>Basilisk is built to support the long tail of cryptoassets and experimenting with financial applications and governance</h3>
        </div>
    </div>

    <div class="inner-content">
        <div class="row mx-md-n5">
            <div class="box col-12 col-md-4 px-md-5">
                <div class="box-content">
                    <h3>Launchpad for Tokens</h3>
                    <p>
                        Liquidity Bootstrapping Pools:<br>
                        Traditional xyk models are not ideal for a price discovery of new assets.
                        We are building a product that makes bootstrapping liquidity easier and efficient.
                    </p>
                </div>
            </div>
            <div class="box col-12 col-md-4 px-md-5">
                <div class="box-content">
                    <h3>Cross-Chain Capabilities</h3>
                    <p>
                        Kusama enables cross-chain communication and Basilisk transforms that into cross chain swaps,
                        composable & compounding liquidity mining incentives.
                    </p>
                </div>
            </div>
            <div class="box col-12 col-md-4 px-md-5">
                <div class="box-content">
                    <h3>Supporting Long Tail of Assets</h3>
                    <p>
                        Build to be flexible and facilitate liquidity for many tokens. Each token is different.
                        Varying maturity of tokens requires different curves to optimize its liquidity.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="goto">
        <a href="#learn">
            <i class="bi bi-arrow-up-circle-fill"></i>
        </a>
    </div>
</section>