<section class="page" id="build">
    <div class="inner-content">
        <div class="box-content">
            <h3>Build your next financial application on Basilisk</h3>
        </div>
    </div>

    <div class="row">
        <div class="box col-12 col-md-6 offset-md-3">
            <div class="box-content nb">
                <img class="ltt" src="assets/basilisk-build.png" alt="Build on Basilisk"/>
                <p class="tagline">
                    Optimized for DeFi applications,
                    this is the place for you to build your next generation financial use case cheap & efficient.
                </p>
            </div>
        </div>
    </div>

    <div class="goto">
        <a href="#roadmap">
            <i class="bi bi-arrow-down-circle-fill"></i>
        </a>
    </div>
</section>