<section class="page" id="hydra-basilisk">
    <div class="inner-content">
        <div class="box-content">
            <h3>HydraDX and Basilisk</h3>
        </div>
    </div>

    <div class="row">
        <div class="box col-12 col-md-10 offset-md-1">
            <div class="box-content nb">
                <img class="rtt" src="assets/basilisk-hydra.png" alt="Basilisk and Hydra"/>
                <div class="textbox">
                    <p class="tagline">
                        We imagine that Basilisk will attract builders that would like to experiment with exotic
                        DeFi applications, testing their ideas in the real world.
                    </p>
                    <p class="tagline">
                        In time, HydraDX and Basilisk will become interoperable allowing a smooth transition
                        between liquidity pools on which applications are built.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="goto">
        <a href="#about">
            <i class="bi bi-arrow-up-circle-fill"></i>
        </a>
    </div>
</section>
