<section class="page" id="roadmap">
    <div class="inner-content">
        <div class="box-content">
            <h3>Roadmap</h3>
        </div>
    </div>

    <div class="row">
        <div class="box col-12 col-md-6 offset-md-3">
            <table class="roadmap table table-striped table-dark">
                <tbody>
                    <tr>
                        <th>What</th>
                        <th>When</th>
                    </tr>
                    <tr>
                        <td>Basilisk becomes a Kusama parachain</td>
                        <td>T</td>
                    </tr>
                    <tr>
                        <td>Enabling LBP functionality for other assets</td>
                        <td>T+1.5 week</td>
                    </tr>
                    <tr>
                        <td>Liquidity Mining</td>
                        <td>T+1.5 months</td>
                    </tr>
                    <tr>
                        <td>NFT marketplace</td>
                        <td>T+2 months</td>
                    </tr>
                    <tr>
                        <td>Stablecoin AMM pallet <em>(Curve-like)</em></td>
                        <td>T+3 months</td>
                    </tr>
                    <tr>
                        <td>Basilisk LBP</td>
                        <td>T+1 week</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="goto">
        <a href="#hydra-basilisk">
            <i class="bi bi-arrow-down-circle-fill"></i>
        </a>
    </div>
</section>