<section class="page" id="form">
    <div class="inner-content">
        <div class="box-content">
            <h3>Join Hydration!</h3>
        </div>
    </div>

    <div class="row mx-md-n5">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd6dk9GbkMTJCiDLakkmcomjJ_oNjjyEleoV_IZ6-2KD8PWrA/viewform?embedded=true" width="640" height="1800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <div class="goto">
        <a href="#info">
            <i class="bi bi-arrow-up-circle-fill"></i>
        </a>
    </div>
</section>