<section class="page" id="info">
    <div class="inner-content">
        <h1>Hydration</h1>

        <div class="box-content">
            <h3>Join the one-of-a-kind development community</h3>
        </div>
    </div>

    <div class="row">
        <div class="box col-12 col-md-8 offset-md-2">
            <div class="box-content">
                <p>
                    Hydration is an active community of builders, thinkers and researchers mentored by our core team.
                    It’s long running Hackathon which you can join or leave at any time.
                </p>
                <p>
                    Do you have an idea, specific skill you would like to utilize or build your own application
                    on Substrate and integrate it with us?
                </p>
                <p>
                    If you want to build on top of HydraDX or Basilisk and help us make it the best liquidity
                    platform in the universe, fill out the application form and we’ll be in touch shortly!
                </p>
            </div>
        </div>
    </div>

    <div class="goto">
        <a href="#form">
            <i class="bi bi-arrow-down-circle-fill"></i>
        </a>
    </div>
</section>