<footer>
    <div class="bottom-links">
        <a class="button" href="https://github.com/galacticcouncil/Basilisk-node" target="blank">GitHub</a>
        <a class="button" href="https://twitter.com/bsx_finance" target="blank">Twitter</a>
        <a class="button" ref="https://discord.gg/S8YZj5aXR6" target="blank">Discord</a>
        <a class="button" href="https://t.me/bsx_fi" target="blank">Telegram</a>
        <a class="button" href="https://basiliskfi.substack.com/" target="blank">Blog</a>
    </div>
</footer>
