<section class="page" id="crowdloan">
    <div class="inner-content">
        <div class="box-content">
            <h3>Crowdloan</h3>
        </div>
    </div>

    <div class="row">
        <div class="box col-12 col-md-10 offset-md-1">
            <div class="box-content nb">
                <img class="rtt" src="assets/crowdloan-1.png" alt="Basilisk and Hydra"/>
                <div class="textbox">
                    <p class="tagline">
                        Parachains are to be reserved with KSM tokens. Various blockchain projects compete for scarce parachain slots and KSM holders lock their KSM tokens for a certain period of time to help their favorite get the slot.
                    </p>
                </div>
            </div>
            <div class="box-content nb">
                <img class="ltt" src="assets/crowdloan-2.png" alt="Basilisk and Hydra"/>
                <div class="textbox">
                    <p class="tagline">
                        Basilisk will participate in the upcoming Kusama parachain auctions to earn a slot among the first. The backers of the auction will be rewarded with BSX as they lock their KSM to support Basilisk candidacy.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="goto">
        <a href="#learn">
            <i class="bi bi-arrow-down-circle-fill"></i>
        </a>
    </div>
</section>
