<section class="page" id="learn">
    <h2 class="catch">Learn How to Support Basilisk Crowdloan</h2>
    <div class="inner-content">
        <div class="box-content">
            <h3>Get BSX token for supporting Basilisk parachain crowdloan</h3>
        </div>
    </div>

    <div class="row mx-md-5">
        <div class="box col-12 col-md-5 offset-md-1 px-md-5">
            <div class="box-content ">
                <h3>Support Basilisk</h3>
                <p>
                    Learn more about how to support basilisk in the upcoming Kusama Crowdloans.
                </p>
                <div class="btn-box">
                    <a href="#" target="_blank" class="button inverse">
                        How to support Basilisk
                    </a>
                </div>
            </div>
        </div>

        <div class="box col-12 col-md-5 px-md-5">
            <div class="box-content ">
                <h3>Learn more about Parachains</h3>
                <p>
                    This article provides you a comprehensive and brief overview about Parachains.
                </p>
                <div class="btn-box">
                    <a href="https://wiki.polkadot.network/docs/en/learn-parachains" target="_blank" class="button inverse">
                        Learn Parachains
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="goto">
        <a href="#parachain">
            <i class="bi bi-arrow-up-circle-fill"></i>
        </a>
    </div>
</section>
