<section class="page" id="learn">
    <h1 class="outside">Basilisk</h1>
    <h2 class="outside">Liquidity protocol built on Kusama by HydraDX</h2>

    <div class="inner-content">
        <div class="box-content">
            <h3>Learn How to Support Basilisk Crowdloan</h3>
        </div>
    </div>

    <div class="row mx-md-5">
        <div class="box col-12 col-md-5 offset-md-1 px-md-5">
            <div class="box-content">
                <h3 class="mb-5">Support Basilisk</h3>
                <p>
                    Subscribe to our newsletter to get all hot topics first.
                </p>
                <div class="btn-box">
                    <a href="https://basiliskfi.substack.com/subscribe" target="_blank" class="button inverse">
                        Subscribe & Support
                    </a>
                </div>
            </div>
        </div>

        <div class="box col-12 col-md-5 px-md-5">
            <div class="box-content">
                <h3>Basilisk Parachain Crowdloan</h3>
                <p>
                    Learn more about Parachain slots and how to help Basilisk to get in.
                </p>
                <div class="btn-box">
                    <a href="https://basiliskfi.substack.com/Basilisk-Parachain-Crowdloan" target="_blank" class="button inverse">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="inner-content mb-5">
        <div class="box-content">
            <h3>Get BSX token for your support of Basilisk parachain crowdloan</h3>
            <h3>Start unbounding your KSM</h3>
        </div>
    </div>

    <div class="goto">
        <a href="#parachain">
            <i class="bi bi-arrow-down-circle-fill"></i>
        </a>
    </div>
</section>
