<section class="page" id="parachain">
    <div class="inner-content">
        <div class="box-content">
            <h3>Support Basilisk to Become a Parachain</h3>
        </div>
    </div>

    <div class="row">
        <div class="box col-12 col-md-10 offset-md-1">
            <div class="box-content nb">
                <img class="rtt" src="assets/parachain.png" alt="Basilisk and Hydra"/>
                <div class="textbox">
                    <p class="tagline">
                        Parachain is an exclusive slot on a Kusama network, enabling shared security and interoperability
                    </p>
                </div>
            </div>
            <div class="box-content nb">
                <img class="ltt" src="assets/parachain-slot.png" alt="Basilisk and Hydra"/>
                <div class="textbox">
                    <p class="tagline">
                        Kusama relay connects parachain but starts as a blank slate - with open parachain slots.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="goto">
        <a href="#crowdloan">
            <i class="bi bi-arrow-down-circle-fill"></i>
        </a>
    </div>
</section>
