@font-face {
  font-family: "Pexico-regular";
  font-style: normal;
  font-weight: normal;
  src: local("Pexico-regular"), local("Pexico-regular"), url(../assets/Urtd-Pexico-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Pexico-micro";
  font-style: normal;
  font-weight: normal;
  src: local("Pexico-micro"), local("Pexico-micro"), url(../assets/Urtd-PexicoMicro-Regular.ttf) format("truetype");
}