// Breakpoints
$mobileBreakpoint: 620px;

// Colors
$lgreen: #9EEC1B;
$dgreen: #497D21;
$ultradgreen: #101C13;
$lyellow: #E7C905;
$dyellow: #F9C714;
$orange: #EA904C;
$blackish: #010118;
$grey: #949396;
$greyish: #958D8A;
$white: #FFFFFF;
$textBackground: rgba(1, 1, 24, .75);
$headBackground: rgba(1, 1, 24, .9);
$imgBackground: rgba(249, 199, 20, .5);
$imgBackground: rgba(234, 144, 76, .5);